header h1, header h2 {
    display: none;
}

.header {
    height: 288px;
    background-image: url('as-stripes.png');
    margin: 0;
}

header .navbar {
    margin-bottom: 0;
}

header .header-image {
    background-image: url('as-header.png');
    width: 1000px;
    height: 288px;
    margin: 0 auto;
}

@media screen and (max-width:  1000px) {
    header .header-image {
        background-image: url('as-header.png');
        background-repeat: no-repeat;
        background-position: top right;
        width: 350px;
        height: 288px;
        margin: 0 auto;
    }
}

.section-header {
    text-align: center;
}

.attribution {
    vertical-align: top;
    height: 60px;
    padding: 5px;
}

.attribution img {
    position: relative;
    float: left;
    margin-right: 5px;
}

.jumbotron img {
    height: 150px;
}

footer {
    font-size: 80%;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}

footer strong {
    font-variant: small-caps;
    color: #888;
}

footer .bottom {
    background-color: #eee;
    text-align: center;
    padding: 1em;
}
